
.form-main {
  margin-top: 200px;
}

.form-item .ant-btn {
  background-color: #4CAF50; /* Green */
  border: 1px;;
  color: white;
  padding: 13px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.form-item .ant-input {
  height: 40px !important;
  width: 396px !important;
  font-size: 16px !important;
  border: 1px solid green;
}

.ant-form-explain {
  color:gray;
  margin-top: 10px;
}

.form-img {
  margin-top: 20px;
  width: 100px;
}

.form-label {
  font-size: 30px;
  color: gray;
}